.contenedor {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    margin: 10px;
}

.boton-aceptar {
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    color: white;

    max-width: 600px;
    margin: 10px;
}

.ingredientes{
    font-style: italic;
}